{% extends 'layout.twig' %}
{% import 'classes/social.class.twig' as social %}

{% block styles %}
    <link rel="stylesheet" href="../css/profile.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div id="user_media" class="col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="../images/noava.png" alt="User profile image">
                <div class="card-block">
                    <h4 class="user-name card-title ">{{ page.content.user.name }}</h4>
                    <p class="user-info card-text">{{ page.content.user.email }}</p>
                </div>
            </div>
        </div>
        <div id="user_profile" class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Настройки</a>
                </li>
            </ul>
            <div id="accounts_block" class="section row">
                <p class="h4">Подключение социального аккаунта</p>
                <div class="accounts-list">
                    {# Check for a user social accounts #}
                    {% if not page.content.user.accounts.vk %}
                        {{ social.connectBtn('Vkontakte') }}
                    {% else %}
                        {% set vk =  page.content.user.accounts.vk %}
                        {{ social.accountBlock(vk.provider,
                            vk.first_name, vk.last_name) }}
                    {% endif %}
                    {% if not page.content.user.accounts.fb %}
                        {{ social.connectBtn('Facebook') }}
                    {% else %}
                        {% set fb =  page.content.user.accounts.fb %}
                        {{ social.accountBlock(fb.provider,
                            fb.first_name, fb.last_name) }}
                    {% endif %}
                    {% if not page.content.user.accounts.tw %}
                        {{ social.connectBtn('Twitter') }}
                    {% else %}
                        {% set tw =  page.content.user.accounts.tw %}
                        {{ social.accountBlock(tw.provider,
                            tw.first_name, tw.last_name) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="../js/profile.js"></script>
    <script src="https://vk.com/js/api/openapi.js?150" type="text/javascript"></script>
{% endblock %}